body {
	height: 100vh;
	width: 100vw;
	display: flex;
	margin: 0;
	
}

/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Addtionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
.size-div {
	height: 100%;
	width: 50%;
	display: block;
}

/* When possible, organize CSS classes in alphabetical order */
.gold {
	background-color: #C5B358;
}

.purple {
	background-color: #DA70D6;
}

.slate {
	background-color: #2F4F4F;
}
.full{
	max-height: 100%;
	max-width: 100%;
}

.a1 {
	
display: flex;	
	width: 100%;
	height: 50%;
	align-items: center;
	justify-content: center;
	
}
.a3{ 

display: block;
width: 50%;
height: 100%;

}