body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display:flex;
}

/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Addtionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
.sized-div {
	height: calc(100%/3);
	width: 100%;
}

.varient{
	height: 100%;
	width: 50%;
	display: flex;
}
.half {
	height: 100%;
	width: 50%;
	display: block;
}
/* When possible, organize CSS classes in alphabetical order */

.cyan {
	background-color: #00FFFF;
}

.slate {
	background-color: #FF0000;
}
.center {
	align-items: center;
	justify-content: center;	
	display: flex;
}
.size {
	max-height: 150%;
	max-width: 150%;
}
